<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .head-wrapper {
        background: rgba(0, 0, 0, .5);
    }

    .head-wrapper  .content{
        margin: 0 auto;
        max-width: 1100px;
        text-align: center;
    }
    .head-wrapper .content ul{
        text-align:center;
    }
    .head-wrapper .content ul li {
        display: inline-block;
        margin-left:10px;
        color:white;
        padding:10px;
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="./common.css">

<body>
    <div class="head-wrapper">
        <div class="content">
            <ul>
                <li>首页</li>
                <li>奇思杂感</li>
                <li>个人中心</li>
                <li>文件上传</li>
            </ul>
        </div>
    </div>
</body>

</html>